
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 11pt;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsl(229, 57%, 11%);
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: hsl(228, 56%, 26%);
    padding: 3rem;
    border-radius: 1rem 5rem 1rem 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
    min-height: 100vh
}

h1, p {
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
}
img {
    width: 70px;
    height: auto
}
p {
    color: hsl(243, 100%, 93%);
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: hsl(243, 100%, 93%);
    font-weight: 900;
}

input[type="text"], input[type="email"] {
    width: 100%;
    margin-bottom: 1.5em;
    border-radius: 0.5rem;
    padding: 0.8rem;
    border: 2px solid transparent;
    background-color: hsl(229, 57%, 11%);
    color: white;
    transition: all 0.3s ease;
}

input[type="text"]:focus, 
input[type="email"]:focus {
    outline: none;
    border-color: hsl(335, 100%, 65%);
    box-shadow: 0 0 10px hsla(335, 100%, 80%, 0.5);
}

br {
    display: none;
}

#submit,
input[type="submit"][value="Return"] {
    background-image: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    font-weight: 900;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
    transition: all 0.3s ease;
}

#submit:hover,
input[type="submit"][value="Return"]:hover {
    opacity: 0.8;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

span{
    color:white;
    
}

.advice {
    margin-top: 2rem
}